<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.emp.employee.EmployeeMapper">
	
	<!-- 직원 등록 : employeeInsert -->
	<insert id="employeeInsert">
		INSERT INTO employees
			(employee_id,
			 department_id,
			 worktype_id,
			 position_id,
			 name,
			 gender,
			 birthdate,
			 <if test="phone_num != null">
			 	phone_num ,
			 </if>
			 <if test="email != null">
			 	email ,
			 </if>
			 address,
			 employment_date)
		VALUES
			(#{employee_id},
			#{department_id},
			#{worktype_id},
			#{position_id},
			#{name},
			#{gender},
			#{birthdate},
			<if test="phone_num != null">
				#{phone_num} ,
			</if>
			<if test="email != null">
				#{email} ,
			</if>
			(SELECT province || ' ' || search AS address FROM address WHERE address_id = #{address_id}),
			#{employment_date}
			)
	</insert>
	
</mapper>